.footer {
    height: $gridgutter * 4 + 4;
    background: rgba($color: $graydark, $alpha: 0.6);
    display: flex;
    position: relative;
    align-items: center;
    padding: 0 $gridgutter * 2;
    letter-spacing: 0.5px;
    p{
        display: inline-block;
        justify-content:space-between;
    }
}