.header {
    background-color: rgba($graydark, 0.6);
    position: fixed;
    padding: $gridgutter * 1.5 0;
    box-sizing: border-box;
    max-height: $gridgutter * 6 + 4;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    &.smaller{
        padding: $gridgutter / 3 * 2 0;
    }
    .row{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        .logo{
            font-weight: 700;
            line-height: $gridgutter * 1.5;
        }
        .hamburguer{
            width: unset;
        }
    }
    input{
        position: absolute;
        display: block;
        z-index: 10001;
        height: 60px;
        width: 60px;
        opacity: 0;
        top: -16px;
        right: -4px;
        cursor: pointer;
        &:hover {
            ~span {
                background-color: $primary;
            }
        }
        ~span {
            z-index: 2;
            margin-bottom: 5px;
            position: relative;
            border-radius: 3px;
            transform-origin: 4px 0px;
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
            opacity 0.55s ease;
            margin-left: auto;
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
        &:checked {
            ~ span {
                transform: rotate(45deg) translate(5px, 4px);
                opacity: 1;
            }
            ~ span:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
            }
            ~ span:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
            }
            &:nth-last-child(2) {
                transform-origin: 0% 100%;
            }
            ~.menu {
                top:0;
            }
        }
    }
}

.nav{
    .menu{
        position: fixed;
        z-index: -1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100vh;
        top: -100vh;
        left: 0;
        transition: top 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
        background-color: #232323;
        a{
            text-decoration: none;
            color: white;
            font-size: $gridgutter * 3 + 12;
            font-weight: 700;
            font-family: $bodyfontfamily;
            &:hover {
                color: $primary;
            }
        }
        .menu-list {
            list-style: none;
            top: $gridgutter * 7;
            padding-left: 0;
            @media screen and (min-width: $tablet) {
                left: 0px;
            }
            @media (min-width: $desktop) {
                left: 0px;
            }
        .menu-item {
            margin: 40px 0;
            font-size: $gridgutter * 3 + 12;
            line-height: 47.48px;
            font-weight: 700px;
            @media screen and (min-width: $tablet) {
                margin: 60px 0;
                font-size: $gridgutter * 3 + 12;
                line-height: 94.96px;
                }
            @media screen and (min-width: $desktop) {
                margin: 60px 0;
                font-size: $gridgutter * 3 + 12;
                line-height: 94.96px;
                }
            }
            .menu-item-active {
                @extend .menu-item;
                margin-top: 0px;
                >a {
                    color: $primary
                }
            }
        }
    }
    .bar-1, .bar-2, .bar-3{
        background: white;
        height: 2px;
        width: $gridgutter / 2 * 3 + 2;
        display: block;
    }
    .bar-2, .bar-3{
        margin-top: $gridgutter / 2;
    }
}

.graphic-header, .contact-header {
    box-sizing: border-box;
    width: 100%;
    padding-top: $gridgutter * 6 + 4;
    margin-bottom: -$gridgutter;
    .sel-text-1 {
        @media (max-width: $tablet) {
            margin-left: $gridgutter/2;
        }
        a {
            padding-right: $gridgutter / 2 * 3;
            font-size: 1.1rem;
            margin-bottom: $gridgutter / 2;
            line-height: 2rem;
            &.all-active {
                color: $primary;
            }
        }
        p {
            padding-right: $gridgutter / 2 * 3;
            font-size: 1.5rem;
            margin-bottom: $gridgutter / 2;
            line-height: 2rem;
        }
    }
    .sel-text-2{
        p {
            margin-top: $gridgutter * 4;
            line-height: 1.5rem;
            font-size: 1rem;
        }
    }
    .sel-text-3{
        p {
            margin-top: $gridgutter * 2;
            line-height: 1.5rem;
            font-size: 1rem;
        }
    }
}

#contact {
    margin-top: 0;
    min-height: calc(100vh - #{$gridgutter * 4 + 4};
    display: flex;
    flex-direction: column;
}