/* ================================== */
/* ============ Hero/Main =========== */
/* ================================== */

#hero{
    margin-top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

aside{
    > h2{
        @extend .uppercase;
        font-weight: 300;
        font-size: 1.125rem;
        @media (min-width: $tablet) {
            font-size: 1.06rem;
        }
        @media (min-width: $desktop) {
            font-size: 1rem;
        }
    }
}

article{
    h1, & > p{
        margin:0;
        padding: 0;
    }
    h1{
        @extend .uppercase;
        font-size: 1.15rem;
        font-weight: 300;
    }
    > p{
        font-size: 0.85rem;
    }
    .description{
        @extend .margintopdouble;
        p{
            @extend .marginbottomdouble;
            &:last-of-type{
                @extend .marginbottomnone;
            }
        }
    }
}

/* ============================ */
/* =========== LINKS ========== */
/* ============================ */

a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    font-family: $bodyfontfamily;
    &:hover {
        color: $primary;
    &.disabled {
        pointer-events: none;
        cursor: default;
        }
    }
}

ul {
    margin: 0;
}

/* ============================ */
/* =========== TEXT ========== */
/* ============================ */

p{
    font-size: 1rem;
    font-weight: 400;
    font-family: $bodyfontfamily;
    margin: 0 0 $gridgutter / 2 0;
}

.prev-next {
    margin-top: $gridgutter * 2;
    margin-left: $gridgutter / 2 * 3;
    margin-right: $gridgutter / 2 * 3;
    margin-bottom: $gridgutter * 2;
    a {
        font-weight: 1.1rem;
        font-size: $gridgutter - 2;
        line-height: $gridgutter + 4;
    }
}

.cont-1{
    padding-bottom: $gridgutter * 3 + 6
}